<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset = "utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Schedule</title>
  <link rel="stylesheet" href="/styles/bootstrap.min.css"/>
  <link rel="stylesheet" href="/styles/style.css"/>
  <script src="scripts/jquery-3.3.1.min.js"></script>
  <script src="scripts/bootstrap.bundle.min.js"></script>
  <script src="built/bundle.js"></script>
</head>
<body>
  <div class="container">
	<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
		Hello, <span id="managername" sec:authentication="name">user</span>.
		<form th:action="@{/logout}" method="post">
			<input class="btn btn-light" type="submit" value="Log Out"/>
		</form>
	</div>
	<ul class="nav nav-tabs">
	  <li class="nav-item">
		<a class="nav-link active" href="/">Home</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="/schedules">Schedule</a>
	  </li>
	</ul>

	<div id="react"></div>
  </div>

    <script src="built/bundle.js"></script>

</body>
</html>