<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Login page</title>
	<link rel="stylesheet" href="/styles/bootstrap.min.css"/>
	<link rel="stylesheet" href="/styles/style.css"/>
	<base href="/">
</head>
<body>
	<div class="jumbotron text-center">
        <h1>Login page</h1>
	</div>
	<div class="container">
        <p th:if="${loginError}" class="error">Wrong user or password</p>
        <form th:action="@{/login}" method="post">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" id="username" name="username" class="form-control" autofocus="autofocus" />
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" id="password" class="form-control" name="password" />
			</div>
            <input class="btn btn-light" type="submit" value="Log in" />
        </form>
	</div>
</body>
</html>
